$primary-color: #F8F8F8;
$secondary-color: #D7D1C8;
$third-color: #BCB09C;
$third-color-hover: #9e9484bc;
$fourth-color: #E3DFDA;
$fifth-color: #9D917B;
$sixth-color: #5a5a5a3e;
$seventh-color: #574E4A;
$eightth-color: #7373732f;
$nineth-color: #16161644;
