@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,600;1,400&display=swap');

h1 {
    font-family: 'Vollkorn', serif;
    color: #F8F8F8;
    font-size: 28px;
    margin: 0;
    text-shadow: 1px 1px 6px #b2b2b2;
}

.nav {
    font-family: 'Vollkorn', serif;
    color: #F8F8F8;
    font-size: 17px;
}

.p1_front{
    font-family: 'Vollkorn', serif;
    color: #F8F8F8;
    font-size: 22px;
    margin: 0;
}

.p2_front{
    font-family: 'Vollkorn', serif;
    color: #F8F8F8;
    font-size: 18px;
    letter-spacing: 0.9px;
    font-style: italic;
}

.p3_front{
    font-family: 'Vollkorn', serif;
    color: #F8F8F8;
    letter-spacing: 0.9px;
    font-size: 18px;
}

.p4{
    font-family: 'Vollkorn', serif;
    color: #9D917B;
    font-size: 22px;
    font-weight: bold;
}

.p5{
    font-family: 'Vollkorn', serif;
    color: #9e9484bc;
    font-size: 17px;
}

.p6{
    font-family: 'Vollkorn', serif;
    color: #9D917B;
    font-size: 13px;
}

.p7_contact {
    font-family: 'Vollkorn', serif;
    color: #574E4A;
    font-size: 25px;
    padding-bottom: 45px;
    margin: 0;
}

.p8_contact {
    font-family: 'Vollkorn', serif;
    color: #574E4A;
    font-weight: bold;
    font-size: 18px; 
    margin: 0;
}

.p9_contact {
    font-family: 'Vollkorn', serif;
    color: #574E4A;
    font-size: 15px;

    margin: 0;
}

.p10_footer{
    font-family: 'Vollkorn', serif;
    color: #F8F8F8;
    font-size: 13px;
}