
@use "colors" as *;
@use "typography" as *;

* {
    margin: 0;
    padding: 0;
}

/* frontpage */
.frontpage {
    background-color: white;
    padding: 0 10%;
 
    .top {
        margin: 0;
        
        .logo {
            height: 150px;
            margin-top: 2.7%;
        }

        .name {
            margin: 0;
            margin-top: 5%;
        }
    /* navigation */
        .nav{
            padding: 0;
            margin-top: 4%;

            .navbar {
                padding: 0;
                margin: 0;
                width: 100%;
                display: block;
 
                ul {
                    display: flex;
                    background-color: $sixth-color;
                    width: 100%;
                    height: 55px;
                    justify-content: center;
                    text-align: center;
                    border-radius: 20px;
                    padding: 0;
                    margin: 0;

                    li {
                        list-style-type: none;
                        display: flex;
                        align-items: center;
                        margin: 0;
                        padding: 0;

                        a {
                            text-decoration: none;
                            color: $primary-color;
                            margin: 0;
                            transition-duration: 0.2s;
                            border-right: solid 1px $fifth-color;
                            padding: 0 15px;

                            
                        
                        }
                    }

                    li:hover {
                        background-color: $eightth-color; 
                        }

                    li:active {
                    background-color: $nineth-color; 
                    }
                }
            }
        }
        
    }


    /* bottom on frontpage */
    .bottom {
        margin-top: 36vh;
        justify-content: flex-end;
        padding: 0;
    
        .greybox {
            height: 120px;
            width: auto;
            background-color: $sixth-color;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;  
        }

        .space {
            height: 10px;
        }
    }
}



/* activities */
    .activities_container{
        height: auto;
        background-color: $primary-color;
        padding:80px 10%;
        
        
        .brown_container {
            background-color: $fourth-color;
            height: auto;
            box-shadow: 15px 15px 10px #0000002f;
            margin: 0;

            .div_img {
                padding: 0 90px;
            }

            img {
                height: 450px;
                width: auto;
                opacity: 0.7;
                margin: 0;
                padding: 0;
                position: relative;
                box-shadow: 10px 10px 10px #0000002f;
            }

            .line {

                border-top: solid 1.5px $fifth-color;
                width: 50%;
            }

            /* video */
            iframe {
                align-items: center;
                margin-bottom: -50px;
                width: fit-content;
                opacity: 0.9;
                box-shadow: 10px 10px 10px #0000002f;
            }
        }
    }

/* map */
.map {
    padding: 0;
    border-bottom: solid 1px $seventh-color;
    border-top: solid 1px $seventh-color;

    .map-area {
        height: 450px;
        width: 100%;
    
        iframe {
            height: 100%;
            width: 100%;
            margin: 0;

        }
    }
}

/* contact */
.contact{
    background-color: $secondary-color;
    height: auto;
    width: 100%;
    padding: 0 10%;
    margin: 0;

    .row {
        padding: 140px 0; 
        
        .p7_contact {
            text-align: center;
        }

        .icons {
            justify-content: center;
            gap: 7%;
            margin-top: 40px;
            
            img{
                height: 55px;
                width: 55px;
                transition-duration: 0.3s;
            }

            img:hover {
                transform: scale(1.2);
            }
        }

        .space1 {
            height: 35px;
        }

        .space2 {
            height: 15px;
        }

        .space3 {
            height: 8px;
        }


        button {
            background-color: $third-color;
            color: $primary-color;
            display: flex;
            margin-left: auto;

        }

        button:hover {
            background-color: $third-color-hover;
            color: $primary-color;
            
        }

        .borders {
            border-left: solid 0.5px $fifth-color;
            border-right: solid 0.5px $fifth-color;

        }
    }
}

/* footer */
.footer{
    background-color: $seventh-color;
    height: 60px;
    width: 100%;
    padding: 0 10%;
    margin: 0;
    padding: 18px;
   

    .col {
        display: flex;
        gap: 4px;
        justify-content: center;
        align-items: center;
        margin: 0;
        

    p {
        
        margin: 0;
    }

        img{
            height: 13px;
        }
      
    }
    

}

@media only screen and (max-width: 900px) {
    

    .frontpage .top .logo {
        height: 0;
    }
    .logo {
        width: 0;
        height: 0;
    }

    .name {
        margin-bottom: 350px;
    }

    .bottom{
        margin-top: 33vh;
        justify-content: center;
    }
    
    .brown_container {
        display: flex;
        flex-direction: row;
    }

    .img {
        height: 100px;
        width: auto;

    }

    .contact {
        .col {
            gap: 50px;
        }
        
    }

}

